
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1,h4{
  color: #930C20;
}
div a:link, a:visited{
  background-color: #930C20;
  color: #FFD46C;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.service-box {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  max-width: 300px;
}

.service-box img {
  max-width: 100%;
}


footer {
  position: absolute;
  bottom: 0;
  background-color: #444;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  width: 99.2vw;
  margin: 0 10px;
 
}


.menu {
  background-color: #444;
  color: #fff;
  padding: 10px;
}

.menu ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  color:#FFD46C;
  
  
}
